<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <!--CSS FILES-->
        <link rel="stylesheet" href="styles/search-css/general.css">
        <link rel="stylesheet" href="styles/search-css/header.css">
        <link rel="stylesheet" href="styles/search-css/search.css">
        <link rel="stylesheet" href="styles/search-css/cart-panel.css">
      

        <!--JS FILES-->

        <!--ADDITIONAL IMPORTED FONT FILES-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Julee&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Playwrite+NG+Modern:wght@100..400&family=Quintessential&family=Righteous&family=Ruda:wght@400..900&family=Tangerine:wght@400;700&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Felipa&display=swap" rel="stylesheet">


        <!--ADDITIONALLY IMPORTED ICONS FILES-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

        <script src="scripts/genrerecommendation.js" defer></script>
        <script src="scripts/deptrecommendation.js" defer></script>
        <script src="scripts/cartitemsrender.js" defer></script>
        <script src="scripts/cartissue.js" defer></script>



    </head>


    <body>
         <!--WINDOW HEADER -->
        <!--It is Divided into 3 sections - the left header, the mid header (under development) , the right header-->
        <div class="window-header">
           
            <div class="left-header" >
                <nav class="nav-left-header">
                    <div class="logo">
                        <a class="nav-links" href="http://localhost:5001/search">
                            <div class="logo">
                                <img src="styles/Logo & Images/M.S.N.S.png" alt="" class="logo-image">
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="mid-header">
            </div>
            <div class="right-header">
                <nav class="nav-right-header">
                    <div class="header-navigation">
                        <a  class="nav-links" href="http://localhost:5001/home">Home</a>
                    </div>
                    <div class="header-navigation">
                        <div class="profile-navigation">
                            <button class="profile-btn" >&#9776; Profile</button>
                            <nav class="post-login-navigation">
                                <a href="http://localhost:5001/dashboard" class="post-login-navigation-collapsible-panel">
                                    Dashboard
                                </a>
                                <a href="http://localhost:5001/logout" class="post-login-navigation-collapsible-panel">
                                    sign-out
                                </a>
                            </nav>     
                        </div>
                    </div>                    
                </nav>
            </div>
        </div>

        <div class="access-cart-button">
            <button onclick="openNavigationpanel()">
                <i class="fa fa-shopping-cart"></i>
            </button>

            <div class="access-cart-button-count">
                0
            </div>
        </div>

        <!--ADD TO CART SNACKBAR-->
        <div class="addToCart-book-snackbar" id="addToCart-book-snackbar">
            <span>Book Name</span>
            &nbsp;is added to the cart.
        </div>

        <!--ISSUE BOOK SNACKBAR-->
        <div class="issue-book-snackbar" id="issue-book-snackbar">
            <span>Book Name</span>
            &nbsp;is issued.
        </div>

        <div class="currentusername" hidden>{{currentusername}}</div>
        <div class="search-cart-display" id="search-cart-display">
            <div class="search-cart-display-close">
                <p onclick="closeNavigationpanel()">&times;</p> <!--Click to close popup-->
            </div>
            <div class="search-cart-display-title">
                Cart
            </div>
            
            <div class="search-cart-display-bookDisplay">
               {{!-- Cart render location --}}
                
            </div>


            <div class="search-cart-display-checkout">
                <button class="search-cart-display-checkout-button">Issue</button>
            </div>
        </div>



        <div class="search" id="search">
            

            <div class="search-filters">
                <form action="http://localhost:5001/search" method="post">
                    <div class="search-searchbar">
                        <input name="query" type="text" placeholder="Search" class="search-searchbar-input">
                        {{!-- <button type="button" onclick="http://localhost:5001/ultra" class="search-filters-form-options-input">Search</button> --}}
                        
                        <button type="submit"  class="search-filters-form-options-input">
                            <i class="fa fa-search"></i>
                            <!--
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                <path fill="#616161" d="M34.6 28.1H38.6V45.1H34.6z" transform="rotate(-45.001 36.586 36.587)"></path>
                                <path fill="#616161" d="M20 4A16 16 0 1 0 20 36A16 16 0 1 0 20 4Z"></path>
                                <path fill="#37474F" d="M36.2 32.1H40.2V44.400000000000006H36.2z" transform="rotate(-45.001 38.24 38.24)"></path>
                                <path fill="#64B5F6" d="M20 7A13 13 0 1 0 20 33A13 13 0 1 0 20 7Z"></path>
                                <path fill="#BBDEFB" d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path>
                            </svg>-->
                        </button>
                        

                    </div>
                    <label for="sort">Sort : </label>
                    <select name="sort" id="sort" class="search-filters-form-options">
                        <option value="1" >Ascending</option>
                        <option value="-1" {{sortState}}>Descending</option>
                    </select>
                    
            
                    <label for="dept">Department : </label>
                    <input type="text" list="depts" id="dept" name="department" placeholder="Enter Department" class="search-filters-form-options" {{deptState}}>
                    <datalist id="depts"></datalist>

                    <label for="genre">Genre : </label>
                    <input type="text" list="genres" id="genre" name="genre" placeholder="Enter Genre" class="search-filters-form-options" {{genreState}}>
                    <datalist id="genres"></datalist>

                    <label for="searchby">Search By : </label>
                    <select name="searchby" id="searchby" class="search-filters-form-options">
                        <option value="title" >Title</option>
                        <option value="author" {{searchbyState}} >Author</option>
                    </select>


                </form>
            </div>
            <div class="search-bookDisplay">
                {{#if cellsData}}
                    {{#each cellsData}}
                        {{> bookCell data=this}}
                    {{/each}}
                    {{else}}
                    Oops ! It appears that we cant find what you're looking for :-(
                {{/if}}
                <script defer> 
                    const cartButtons=document.querySelectorAll('.add-to-cart')
                    
                    cartButtons.forEach((x)=>{
                        x.addEventListener('click',()=>{
                            createBookCellNew(x.classList[1])
                            let snackbar=document.getElementById('addToCart-book-snackbar');
                            
                            snackbar.className='showSnackbar';

                            setTimeout(()=>{
                                snackbar.className=snackbar.className.replace('showSnackbar','');
                            },3000);

                        });
                    });

                    const issueButton=document.querySelectorAll('.issue');
                    issueButton.forEach((x)=>{
                        x.addEventListener('click',()=>{
                            fetch('http://localhost:5001/getbook/'+`${x.classList[1]}`).then((res)=>{return res.json()}).then((bookData)=>{
                                let notificationTitle=document.querySelector('#issue-book-snackbar span');
                                notificationTitle.textContent=bookData.title;
                            });


                            console.log(x.title);
                            let snackbar=document.getElementById('issue-book-snackbar');
            
                            snackbar.className='showissueSnackbar';

                            setTimeout(()=>{
                                snackbar.className=snackbar.className.replace('showissueSnackbar','');
                            },3000);
                        })
                    })

                </script>
            </div>
        </div>

        
    <script>

        const openNavigationpanel=()=>{
            document.querySelector('.search-cart-display').style.width="270px";
            document.querySelector('.search-cart-display').style.zIndex="32";
            document.querySelector('.search-cart-display').style.opacity="1";
            document.querySelector('.search').style.marginLeft="270px";


            document.querySelector('.search-bookDisplay').style.width="72vw"


        }

        const closeNavigationpanel=()=>{
            document.querySelector('.search-cart-display').style.width="0px";
            document.querySelector('.search').style.marginLeft="0px";
            document.querySelector('.search-cart-display').style.opacity="0";
            document.querySelector('.search-cart-display').style.zIndex="-1";

            document.querySelector('.search-bookDisplay').style.width="90vw"







        }

    </script>
        
    </body>
    
</html>
